<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaphet.account">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".application.MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name="com.yaphet.account.activity.MainActivity">
        </activity>

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ActivityRemovePassword">

        </activity>
        <activity android:name=".activity.ActivitySettingPassword">

        </activity>

        <activity android:name=".activity.ActivityCreditSetting">

        </activity>

        <activity android:name=".activity.ActivityMonthSetting">

        </activity>
        <activity android:name=".activity.ActivityDeleteCategory">

        </activity>
        <activity android:name=".activity.ActivityRenameCategory">

        </activity>

        <activity android:name=".activity.ActivitySortCategory">

        </activity>

        <activity android:name=".activity.ActivityDetail">

        </activity>
        <activity android:name=".activity.ActivityAnaylse">

        </activity>
    </application>

</manifest>
